.bytemd-wrapper > div {
  height: 100%;
}
.bytemd {
  height: 100%;
  border: none;
}
.bytemd.bytemd-fullscreen {
  z-index: 9999;
}
.bytemd .markdown-body ul {
  list-style: disc;
}
.bytemd .markdown-body ol {
  list-style: decimal;
}
.bytemd-mermaid {
  --bytemd-mermaid-background: white;
  --bytemd-mermaid-primary-color: #ececff;
  --bytemd-mermaid-primary-text-color: #131300;
  --bytemd-mermaid-primary-border-color: hsl(240, 60%, 86.2745098039%);
  --bytemd-mermaid-secondary-color: #ffffde;
  --bytemd-mermaid-secondary-text-color: #000021;
  --bytemd-mermaid-secondary-border-color: hsl(60, 60%, 83.5294117647%);
  --bytemd-mermaid-tertiary-color: hsl(80, 100%, 96.2745098039%);
  --bytemd-mermaid-tertiary-text-color: rgb(6.3333333334, 0, 19.0000000001);
  --bytemd-mermaid-tertiary-border-color: hsl(80, 60%, 86.2745098039%);
  --bytemd-mermaid-note-bkg-color: #fff5ad;
  --bytemd-mermaid-note-text-color: black;
  --bytemd-mermaid-note-border-color: #aaaa33;
  --bytemd-mermaid-line-color: #333333;
  --bytemd-mermaid-text-color: #333;
  --bytemd-mermaid-main-bkg: #ececff;
  --bytemd-mermaid-error-bkg-color: #552222;
  --bytemd-mermaid-error-text-color: #552222;
  --bytemd-mermaid-node-border: #9370db;
  --bytemd-mermaid-cluster-bkg: #ffffde;
  --bytemd-mermaid-cluster-border: #aaaa33;
  --bytemd-mermaid-default-link-color: #333333;
  --bytemd-mermaid-title-color: #333;
  --bytemd-mermaid-edge-label-background: #e8e8e8;
  --bytemd-mermaid-actor-bkg: #ececff;
  --bytemd-mermaid-actor-border: hsl(
    259.6261682243,
    59.7765363128%,
    87.9019607843%
  );
  --bytemd-mermaid-actor-text-color: black;
  --bytemd-mermaid-actor-line-color: grey;
  --bytemd-mermaid-signal-color: #333;
  --bytemd-mermaid-signal-text-color: #333;
  --bytemd-mermaid-label-box-bkg-color: #ececff;
  --bytemd-mermaid-label-box-border-color: hsl(
    259.6261682243,
    59.7765363128%,
    87.9019607843%
  );
  --bytemd-mermaid-label-text-color: black;
  --bytemd-mermaid-loop-text-color: black;
  --bytemd-mermaid-activation-border-color: #666;
  --bytemd-mermaid-activation-bkg-color: #f4f4f4;
  --bytemd-mermaid-sequence-number-color: white;
  --bytemd-mermaid-alt-background: #f0f0f0;
  --bytemd-mermaid-class-text: #131300;
  --bytemd-mermaid-c-scale0: hsl(240, 100%, 76.2745098039%);
  --bytemd-mermaid-c-scale1: hsl(60, 100%, 73.5294117647%);
  --bytemd-mermaid-c-scale2: hsl(80, 100%, 76.2745098039%);
  --bytemd-mermaid-c-scale3: hsl(270, 100%, 76.2745098039%);
  --bytemd-mermaid-c-scale4: hsl(300, 100%, 76.2745098039%);
  --bytemd-mermaid-c-scale5: hsl(330, 100%, 76.2745098039%);
  --bytemd-mermaid-c-scale6: hsl(0, 100%, 76.2745098039%);
  --bytemd-mermaid-c-scale7: hsl(30, 100%, 76.2745098039%);
  --bytemd-mermaid-c-scale8: hsl(90, 100%, 76.2745098039%);
  --bytemd-mermaid-c-scale9: hsl(150, 100%, 76.2745098039%);
  --bytemd-mermaid-c-scale10: hsl(180, 100%, 76.2745098039%);
  --bytemd-mermaid-c-scale11: hsl(210, 100%, 76.2745098039%);
  --bytemd-mermaid-c-scale-inv0: hsl(60, 100%, 86.2745098039%);
  --bytemd-mermaid-c-scale-inv1: hsl(240, 100%, 83.5294117647%);
  --bytemd-mermaid-c-scale-inv2: hsl(260, 100%, 86.2745098039%);
  --bytemd-mermaid-c-scale-inv3: hsl(90, 100%, 86.2745098039%);
  --bytemd-mermaid-c-scale-inv4: hsl(120, 100%, 86.2745098039%);
  --bytemd-mermaid-c-scale-inv5: hsl(150, 100%, 86.2745098039%);
  --bytemd-mermaid-c-scale-inv6: hsl(180, 100%, 86.2745098039%);
  --bytemd-mermaid-c-scale-inv7: hsl(210, 100%, 86.2745098039%);
  --bytemd-mermaid-c-scale-inv8: hsl(270, 100%, 86.2745098039%);
  --bytemd-mermaid-c-scale-inv9: hsl(330, 100%, 86.2745098039%);
  --bytemd-mermaid-c-scale-inv10: hsl(0, 100%, 86.2745098039%);
  --bytemd-mermaid-c-scale-inv11: hsl(30, 100%, 86.2745098039%);
  --bytemd-mermaid-c-scale-label0: #ffffff;
  --bytemd-mermaid-c-scale-label1: black;
  --bytemd-mermaid-c-scale-label2: black;
  --bytemd-mermaid-c-scale-label3: #ffffff;
  --bytemd-mermaid-c-scale-label4: black;
  --bytemd-mermaid-c-scale-label5: black;
  --bytemd-mermaid-c-scale-label6: black;
  --bytemd-mermaid-c-scale-label7: black;
  --bytemd-mermaid-c-scale-label8: black;
  --bytemd-mermaid-c-scale-label9: black;
  --bytemd-mermaid-c-scale-label10: black;
  --bytemd-mermaid-c-scale-label11: black;
  margin: 1rem 0;
  overflow-x: auto;
  text-align: center;
}
.bytemd-mermaid svg {
  max-width: 100%;
  height: auto;
}
.bytemd-mermaid-error {
  color: #b91c1c;
  text-align: left;
}
